.FavouriteButton__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 35px;
}

.FavouriteButton__starpath {
  fill: #bfbfbf;
  transition: 100ms;
}

.FavouriteButton__starpath:hover {
  fill: hsl(5, 70%, 70%);
}

.FavouriteButton__starpath:active {
  fill: #db4032;
}

.FavouriteButton__favourited {
  fill: #db4032;
  transition: 100ms;
}

.FavouriteButton__starpath-isActive {
  fill: #db4032;
}
