#root {
  margin: 0;
  color: black;
}

.loading {
  color: black;
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-results {
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.no-results__title {
  color: #db4032;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}

.no-results__under-title {
  color: black;
  font-size: 40px;
  font-weight: 300;
  margin: 0;
}

.app__pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px;
}

.app__filtering-container {
  display: flex;
  flex-direction: column;
  color: black;
}

.app__filtering-text {
  font-size: 16px;
  color: #6c6c6c;
}

.app__searchbar-filter-wrapper {
  width: 85%;
  margin: 2em auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

.app__filter-wrapper {
  /* display: flex;
  gap: 1em; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
  width: 50%;

  @media (max-width: 850px) {
    width: 100%;
  }

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.app__form-wrapper {
  width: 25%;

  @media (max-width: 1200px) {
    width: 40%;
  }

  @media (max-width: 850px) {
    width: 100%;
  }
}
